*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{

  --ff-primary: 'Lato', sans-serif;;
  --ff-secondary: 'Merriweather', serif;

  --fw-reg: 300;
  --fw-bold: 900;

--clr-light: #ffffff;
--clr-dark: #326273;
--clr-offwhite: #eeeeee;
--clr-accentone: #5c9ead;
--clr-accenttwo: #e39774;


}

body{ 
  margin: 0;
  padding: 0;
  background-color: var(--clr-offwhite);
  font-family: var(--ff-primary);
}

.App {
  text-align: center;
  font-family: var(--ff-primary);
}


.App-link {
  color: #61dafb;
}

.portfolio__img {
  max-width: 500px;
  max-height: 500px;
}

.contactimage {
  max-width: 100px;
  max-height: 100px;
}

h3{
  font-family: var(--ff-primary);
}

.aboutSection {
  height: 50vh;
  background-color: var(--clr-dark);
}

.skillSection {
  height: 50vh;
}

.projectSection {
  background-color: var(--clr-dark);
}

.contactSection {
  height: 50vh;
}